
doctype!!!

html
	title #{page.title}
body
	a(href="javascript:void(0)", onclick="chanheLang('ru')") Ru
	span &nbsp;&nbsp;
	a(href="javascript:void(0)", onclick="chanheLang('en')") En
	hr
	a(href="#home", onclick="chanhePage('home')") Home
	span &nbsp;&nbsp;
	a(href="#aboutus", onclick="chanhePage('aboutus')") About Us
	br
	h1 My Koa-Application
	h3 #{page[(lang==undefined?"ru":lang)][0].title}
	p #{page[(lang==undefined?"ru":lang)][0].content}

	script.
		function chanhePage(page){
			let lang = getUrlParam('lang');
			document.location.href = page+((lang!=null)?"?lang="+lang:"");
		}
		function chanheLang(lang){
			let page = window.location.pathname;
			document.location.href = page+"?lang="+lang;
		}
		function getUrlParam(name) {
		    let url = window.location.href;
		    name = name.replace(/[\[\]]/g, "\\$&");
		    let regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
		    let results = regex.exec(url);
		    if (!results) return null;
		    if (!results[2]) return '';
		    return decodeURIComponent(results[2].replace(/\+/g, " "));
		}